<div style="width: 500px; margin: auto;">
    <div *ngIf="currentProduct" class="edit-form">
        <h4>Product</h4>
        <form>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" [(ngModel)]="currentProduct.title" name="name" />
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <input type="text" class="form-control" id="category" [(ngModel)]="currentProduct.category"
                    name="category" />
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <input type="text" class="form-control" id="content" [(ngModel)]="currentProduct.content"
                    name="content" />
            </div>


        </form>
        <p></p>
        <button type="button" class="btn-sm btn-success" (click)="updateProduct()">
            Update
        </button>
        
    </div>

    <div *ngIf="!currentProduct">
        <br />
        <p>This product is not accessible</p>
    </div>
</div>