<div style="width: 500px; margin: auto;">
	<div class="submit-form">
		<form #postForm="ngForm" (ngSubmit)="createProduct()">
			<div *ngIf="!submitted">
				<div class="form-group">
					<label for="name">Title</label>
					<input type="text" class="form-control" id="name" required [(ngModel)]="product.title" name="title"
						#title="ngModel" />
					<div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
						Title is required
					</div>
				</div>

				<div class="form-group">
					<label for="category">Category</label>
					<input class="form-control" required [(ngModel)]="product.category" name="category" />
				</div>
				<div class="form-group">
					<label for="description">Content</label>
					<input class="form-control" required [(ngModel)]="product.content" name="content" />
				</div>
                <br>
				<button class="btn btn-primary" type="submit" [disabled]="!this.postForm.valid">Save</button>
			</div>
		</form>
		<div *ngIf="submitted">
			<h3>You successfully created a product!</h3>
			<button class="btn btn-success" (click)="newProduct()">New..</button>
		</div>
	</div>
</div>