<div>
	<h1>My Posts</h1>
    <button type="button" class="btn btn-sm btn-primary" (click)="openModal()">Modal Test</button>
	<a [routerLink]="['/create/']" class="nav-link">Create</a>
    <!-- <a [routerLink]="[{ outlets: { primary: ['create'] } }]" class="nav-link">Create1</a> -->
	<table id="post-list" class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
		<thead>
			<tr>
				<th>#</th>
				<th>Title</th>
				<th>Category</th>
				<th>Type</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>            
			<tr *ngFor="let post of products">
				<td>{{post.id}}</td>
				<td>{{post.title}}</td>
				<td>{{post.category}}</td>
				<td>{{post.type}}</td>
				<td>{{post.status}}</td>
				<td>
					<button class="btn btn-sm btn-primary" type="button" [routerLink]="['/products/', post.id]" style="margin-right: 5px;">Edit</button>
					<button class="btn btn-sm btn-danger" type="button" (click)="deleteProduct(post.id)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>