<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav mr-auto" *ngIf="isLoggedIn">
            <li class="nav-item">
                <a routerLink="dashboard" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item">
                <a routerLink="products" class="nav-link">Post List</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="[{ outlets: { primary: ['create'] } }]" class="nav-link">Create</a>
            </li>
        </div>
        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
            <li class="nav-item">
              <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
            </li>
            <li class="nav-item">
              <a href="/login" class="nav-link" routerLink="login">Login</a>
            </li>
          </ul>
      
          <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
            <li class="nav-item">
              <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
            </li>
            <li class="nav-item">
              <a href class="nav-link" (click)="logout()">Log Out</a>
            </li>
          </ul>
    </nav>

    <div class="container mt-5">
        <router-outlet></router-outlet>
    </div>
</div>